<div class="alert alert-info text-center mt-5 w-75 m-auto">
    <h2>User Data</h2>
    <table class="table">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{userDetailis.id}}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{userDetailis.name}}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>{{userDetailis.username}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{userDetailis.address.city}},{{userDetailis.address.street}} </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{userDetailis.email}}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{userDetailis.phone}}</td>
            </tr>
            <tr>
                <td>Company</td>
                <td>{{userDetailis.company.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
